.container {
  width: 1200px;
  margin: 0 auto;
}
.top {
  color: #fafafa;
  background: #000;
}
.top a {
  color: #ddd;
}
.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.changeCity {
  display: inline-block;
  margin-left: 10px;
}
.nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}
.nav li + li {
  margin-left: 20px;
}
.logo {
  box-shadow: 0 2px 4px 0 #eee;
}
.logoPng {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoPng img {
  width: 168px;
}
.search {
  margin-top: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
}
.searchItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  padding: 20px 0 10px;
  line-height: 22px;
}
.searchItem .title {
  width: 60px;
  font-weight: 700;
  font-size: 18px;
}
.searchItem .searchAll {
  min-width: 48px;
  padding: 0 10px;
  background: #000;
  color: #fff;
  border-radius: 12px;
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
}
.searchItem .size-List {
  display: flex;
  flex-direction: row;
}
.searchItem .size-List li {
  margin-right: 30px;
  padding: 0 10px;
  min-width: 48px;
  margin: 0 15px;
  cursor: pointer;
  text-align: center;
}
.searchItem .size-List .active {
  background: #000;
  color: #fff;
  border-radius: 12px;
}
.search ul li:last-of-type .searchItem {
  border-bottom: none;
}
.product {
  margin-top: 40px;
}
.product .product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product .product-list li {
  width: 232px;
  height: 421px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.product .product-list li .clothImg {
  width: 212px;
  height: 222px;
  object-fit: cover;
}
.product .product-list li .product-name {
  margin-top: 15px;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 13px;
  height: 26px;
  overflow: hidden;
  margin-bottom: 5px;
}
.product .product-list li .product-subName {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
  color: #333;
  line-height: 13px;
  height: 26px;
  margin-bottom: 5px;
}
.product .product-list li .product-price {
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  font-weight: 600;
  font-family: UniqloBold;
}
.product .product-list li .product-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 4px 0;
}
.product .product-list li .product-box .add-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url("../assets/car.png") top center no-repeat;
  background-size: 24px 24px;
}
.product .product-list li .product-box .add-btn:hover {
  background: url("../assets/car2.png") top center no-repeat;
  background-size: 24px 24px;
}
.showCarBtn {
  position: fixed;
  right: 0;
  bottom: 70%;
  width: 60px;
  height: 60px;
  background-color: #000;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.showCarBtn .carCount {
  position: absolute;
  right: 0;
  top: 10px;
  font-family: UniqloBold;
  background-color: #e9be00;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  font-size: 18px;
}
.pagination {
  text-align: center;
}
.ant-pagination-item-active a {
  color: #fff !important;
  background-color: #000 !important;
}
.normal {
  font-family: Georgia, sans-serif;
}
.title {
  font-weight: normal;
  letter-spacing: -1px;
}
.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}
.list code {
  background: #f7f7f7;
}
